<div class="section">
    <div class="container">
      <h3 data-w-id="de92693f-5cd7-2490-e574-5df6f86f626e" class="change-color-black-white">{{ texts.-5274ffbe }}<a href="{{ links.3d60f1fb }}">{{ texts.66958d37 }}</a>{{ texts.2e }}</h3>
      <div class="space-small space"></div>
      <div class="space-small">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div>
              <h6 class="education">{{ texts.-191fcfa0 }}</h6>
              <div class="w-layout-grid">
                <div id="w-node-_67ef00da-c744-b400-a2ee-a6347830b81a-f86f626c">{{ texts.-33462c62 }}</div>
                <div id="w-node-_98e78880-5a5e-6b5f-7e18-fbce583451a4-f86f626c" class="text-block"><em>{{ texts.38a56e8d }}</em></div>
                <div id="w-node-_50e5e67f-72bc-db48-fbc6-9e0d3b164fa8-f86f626c">{{ texts.-739a2b9a }}</div>
                <div id="w-node-_4b0648d4-d03f-fe2b-fc3b-b2836cf21ffc-f86f626c" class="text-block-2">{{ texts.7ffa52c9 }}</div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div>
              <h6>{{ texts.-1dc797d7 }}</h6>
              <div class="w-layout-grid">
                <div id="w-node-_84f848f3-a297-b884-3e8c-d1a6751a4d44-f86f626c"><strong>{{ texts.-7b5c0594 }}</strong></div>
                <div id="w-node-_0eed4e0a-9cd1-bd55-e005-7fad1960fa9e-f86f626c"><em>{{ texts.5e07f106 }}</em></div>
                <div id="w-node-_1b101f5d-2eec-fbfc-eb72-7bfb266053e1-f86f626c"><strong>{{ texts.1dd27a02 }}</strong></div>
                <div id="w-node-_4bf7e7d0-7145-e5e6-244d-fc598629851f-f86f626c"><em>{{ texts.-54ab44e3 }}</em></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space-small space"></div>
      <div class="w-layout-grid grid-4">
        <div id="w-node-d37d6a7d-5881-7609-a46d-9d9cbf73dcd1-f86f626c" class="content"></div>
        <div id="w-node-d37d6a7d-5881-7609-a46d-9d9cbf73dce6-f86f626c" class="content"></div>
      </div>
      <div class="w-layout-grid grid-7">
        <div>
          <h6>{{ texts.97e7fb }}</h6>
          <ul role="list" class="w-list-unstyled">
            <li>{{ texts.-709ce304 }}</li>
            <li>{{ texts.57b068a5 }}</li>
            <li>{{ texts.-54a68350 }}</li>
            <li>{{ texts.-18e4bdfc }}</li>
            <li class="list-item">{{ texts.114bdd2b }}</li>
            <li></li>
          </ul>
        </div>
        <div>
          <h6>{{ texts.e1a3a35 }}</h6>
          <ul role="list" class="w-list-unstyled">
            <li>{{ texts.-5c61e8f8 }}</li>
            <li>{{ texts.-749ad4f5 }}</li>
            <li>{{ texts.-6af96347 }}</li>
            <li>{{ texts.7a1bc8c1 }}</li>
            <li>{{ texts.-354c8953 }}</li>
            <li class="list-item">{{ texts.73ee47c9 }}</li>
            <li></li>
          </ul>
        </div>
        <div>
          <h6>{{ texts.4c4d1bb }}</h6>
          <ul role="list" class="w-list-unstyled">
            <li>{{ texts.4be7609a }}</li>
            <li>{{ texts.-739a2b9a }}</li>
            <li>{{ texts.-3e999248 }}</li>
            <li>{{ texts.49b652a2 }}</li>
            <li>{{ texts.-688d79b6 }}</li>
            <li class="list-item">{{ texts.-2d9136a }}</li>
            <li></li>
          </ul>
        </div>
      </div>
      <div></div>
    </div>
  </div>