<div class="footer">
    <div class="section">
      <div class="write-email-container">
        <div class="write-email-content">
          <h1 data-w-id="4e61a589-7fc2-d56d-ad8f-4913fbd96017" class="black-20">{{ texts.-6bbca4ea }}</h1>
          <div class="span-space only-on-desktop"></div>
          <a data-w-id="4e61a589-7fc2-d56d-ad8f-4913fbd96019" href="{{ links.4b0e6111 }}" class="link w-inline-block">
            <h1>{{ texts.-2aa56ad6 }}</h1>
            <div class="underline-placeholder">
              <div class="link-underline thick"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="w-layout-grid grid-6">
        <div id="w-node-_99bc6bd0-837d-9882-425d-1889465cdbba-465cdbb7" class="flex-container">
          <a data-w-id="99bc6bd0-837d-9882-425d-1889465cdbbb" href="{{ links.-54785918 }}" target="_blank" class="link link-margin w-inline-block">
            <div>{{ texts.4b0ff51e }}</div>
            <div class="link-underline"></div>
          </a>
          <a data-w-id="99bc6bd0-837d-9882-425d-1889465cdbbf" href="{{ links.-51ea8aa0 }}" target="_blank" class="link link-margin w-inline-block">
            <div>{{ texts.2c9a4253 }}</div>
            <div class="link-underline"></div>
          </a>
          <a data-w-id="99bc6bd0-837d-9882-425d-1889465cdbc3" href="{{ links.71b4ef9 }}" target="_blank" class="link link-margin w-inline-block">
            <div>{{ texts.7f260803 }}</div>
            <div class="link-underline"></div>
          </a>
        </div>
        <div id="w-node-_99bc6bd0-837d-9882-425d-1889465cdbc7-465cdbb7" class="content">
          <div class="right-text">
            <a data-w-id="99bc6bd0-837d-9882-425d-1889465cdbc9" href="{{ links.2b76ecd2 }}" class="link w-inline-block">
              <div>{{ texts.6c03005d }}</div>
              <div class="link-underline"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-flex-container">
        <div class="footer-flex-first">
          <div data-w-id="881c0b78-b38b-a076-e73a-5ef752c0cb92" class="content horizontal">
            <div class="text-small">{{ texts.-1c9ebcb9 }}</div>
            <a href="{{ links.20a012c3 }}" target="_blank" class="link footer-link w-inline-block">
              <div class="link-underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>