<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="fixed-nav w-nav">
      <div class="container nav-container w-container">
        <a href="{{ links.2f }}" class="brand no-padding w-nav-brand">
          <div class="brand-pic black"></div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="{{ links.-2f68657 }}" class="nav-link w-inline-block">
            <div class="nav-link-text">{{ texts.-4499f4e1 }}</div><img src="{{ images.20a03c2d.url }}" alt="{{ images.20a03c2d.alt | trim | escape }}" class="nav-arrow">
          </a>
          <a href="{{ links.2c48051 }}" class="nav-link w-inline-block">
            <div class="nav-link-text">{{ texts.1fa3c2 }}</div><img src="{{ images.20a03c2d.url }}" alt="{{ images.20a03c2d.alt | trim | escape }}" class="nav-arrow">
          </a>
          <a href="{{ links.4b0e6111 }}" class="nav-link w-inline-block">
            <div class="nav-link-text">{{ texts.-64104400 }}</div><img src="{{ images.20a03c2d.url }}" alt="{{ images.20a03c2d.alt | trim | escape }}" class="nav-arrow">
          </a>
          <a href="{{ links.55b8e8be }}" class="nav-link w-inline-block">
            <div class="nav-link-text">{{ texts.3c2336d }}</div><img src="{{ images.20a03c2d.url }}" alt="{{ images.20a03c2d.alt | trim | escape }}" class="nav-arrow">
          </a>
          <a href="{{ links.4b0e6111 }}" class="nav-link w-inline-block">
            <div class="nav-link-text">{{ texts.-64104400 }}</div><img src="{{ images.20a03c2d.url }}" alt="{{ images.20a03c2d.alt | trim | escape }}" class="nav-arrow">
          </a>
        </nav>
        <div class="menu-button w-nav-button"><img src="{{ images.-16207c8b.url }}" loading="lazy" alt="{{ images.-16207c8b.alt | trim | escape }}"></div>
      </div>
      <div class="nav-bg-white"></div>
    </div>